body {
  margin: 0;
  line-height: normal;
}
.homepage-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 56px;
  left: 1333px;
  border-radius: var(--br-2xs);
  background: linear-gradient(
    90.76deg,
    rgba(33, 40, 211, 0.47),
    rgba(71, 128, 214, 0.51) 30.73%,
    rgba(36, 151, 187, 0.53) 53.13%,
    rgba(86, 229, 221, 0) 97.4%,
    rgba(80, 77, 228, 0.49) 97.41%
  );
  width: 100px;
  height: 36px;
}
.ef47b85b4374430b1bdd316e6ffa74-icon {
  position: absolute;
  top: 0;
  left: 63px;
  border-radius: var(--br-xl);
  width: 252px;
  height: 200px;
  object-fit: cover;
}
.profile {
  position: absolute;
  top: 62px;
  left: 1352px;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: inline-block;
  width: 88px;
  height: 34px;
}
.homepage-item {
  position: absolute;
  top: 175px;
  left: 104px;
  background: linear-gradient(
    178.64deg,
    #0d102e,
    #0e133f 33.33%,
    #1f244b 90.82%,
    #23274b
  );
  box-shadow: 4px 4px 10px #3541aa;
  width: 1303px;
  height: 675px;
}
.tablet-strip-1-icon {
  position: absolute;
  top: 130px;
  left: 818px;
  width: 690px;
  height: 639px;
  object-fit: cover;
}
.digital-health-care {
  top: 239px;
  left: 252px;
  font-family: var(--font-lao-muang-don);
  color: var(--color-white);
  width: 250px;
  height: 40px;
}
.digital-health-care,
.get-your-most,
.you-can-book {
  position: absolute;
  display: inline-block;
}
.you-can-book {
  top: 591px;
  left: 222px;
  font-family: var(--font-lao-muang-don);
  color: var(--color-white);
  width: 420px;
  height: 61px;
}
.get-your-most {
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #1ed6ff,
    rgba(118, 234, 178, 0.8) 33.33%,
    rgba(193, 201, 240, 0.88) 60.42%,
    #4fa9bd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 714px;
  height: 286px;
}
.get-your-most-of-medical-works-wrapper {
  position: absolute;
  top: 286px;
  left: 199px;
  width: 714px;
  height: 286px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-jetbrains-mono);
}
.homepage-inner {
  cursor: pointer;
  border: 1px solid var(--color-skyblue-200);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 699px;
  left: 222px;
  border-radius: var(--br-md);
  background: linear-gradient(
    90.38deg,
    #40baff,
    #82eded 24.83%,
    #46ebcd 68.26%,
    #40baff
  );
  box-sizing: border-box;
  width: 315px;
  height: 70px;
  mix-blend-mode: lighten;
}
.register-now {
  position: absolute;
  top: 716px;
  left: 279px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  color: var(--color-mediumblue);
  width: 221px;
  height: 36px;
}
.booking,
.developers,
.gadgets,
.near-me,
.pharma,
.seminars {
  position: absolute;
  top: 1874px;
  left: 982px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 196px;
  height: 36px;
}
.booking,
.developers,
.gadgets,
.pharma,
.seminars {
  top: 939px;
  left: 295px;
}
.booking,
.developers,
.gadgets,
.seminars {
  top: 932px;
  left: 956px;
}
.booking,
.developers,
.gadgets {
  top: 1403px;
  left: 296px;
}
.developers,
.gadgets {
  top: 1874px;
  left: 298px;
  width: 242px;
}
.gadgets {
  top: 1415px;
  left: 969px;
  width: 196px;
}
.instagram,
.legal-notice,
.linkedin,
.privacy-policy,
.terms-of-condition,
.twitter {
  position: absolute;
  top: 97px;
  left: 1021px;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.instagram,
.legal-notice,
.linkedin,
.privacy-policy,
.twitter {
  top: 154px;
}
.instagram,
.legal-notice,
.linkedin,
.twitter {
  top: 211px;
}
.instagram,
.linkedin,
.twitter {
  top: 97px;
  left: 761px;
}
.linkedin,
.twitter {
  top: 154px;
}
.twitter {
  top: 211px;
}
.augmented-reality,
.chatbot,
.contact-us,
.customer-support,
.d-models {
  position: absolute;
  top: 97px;
  left: 9px;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.augmented-reality,
.contact-us,
.customer-support,
.d-models {
  top: 154px;
}
.contact-us,
.customer-support,
.d-models {
  top: 211px;
}
.contact-us,
.customer-support {
  top: 97px;
  left: 385px;
}
.contact-us {
  top: 154px;
}
.customer-care,
.developer,
.legal,
.social {
  position: absolute;
  top: 0;
  left: 1027px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-gray-100);
  width: 134px;
  height: 48px;
}
.customer-care,
.developer,
.social {
  top: 7px;
  left: 748px;
}
.customer-care,
.developer {
  top: 11px;
  left: 336px;
  width: 361px;
  height: 60px;
}
.developer {
  top: 13px;
  left: 0;
}
.terms-of-condition-parent {
  position: absolute;
  top: 3224px;
  left: 169px;
  width: 1271px;
  height: 251px;
  color: var(--color-white);
  font-family: var(--font-lao-muang-don);
}
.name-,
.name-wrapper {
  position: absolute;
  width: 119px;
  height: 25px;
}
.name- {
  top: 0;
  left: 0;
  display: inline-block;
}
.name-wrapper {
  top: 237px;
  left: 645px;
}
.contact-us-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1394px;
  height: 844px;
  object-fit: cover;
}
.email- {
  position: absolute;
  top: 350px;
  left: 645px;
  display: inline-block;
  width: 119px;
  height: 25px;
}
.thoughts- {
  top: 466px;
  left: 637px;
  width: 145px;
  height: 25px;
}
.contact-us1,
.submit,
.thoughts- {
  position: absolute;
  display: inline-block;
}
.submit {
  top: 757px;
  left: 1096px;
  color: var(--color-black);
  width: 184px;
  height: 29px;
}
.contact-us1 {
  top: 77px;
  left: 635px;
  font-size: var(--font-size-3xl);
  width: 315px;
  height: 68px;
}
.contact-us-1-parent {
  top: 0;
  width: 1394px;
  height: 844px;
}
.contact-us-1-parent,
.group-parent,
.pharma2 {
  position: absolute;
  left: 0;
}
.group-parent {
  top: 2304px;
  width: 1394px;
  height: 844px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.pharma2 {
  height: 100%;
  width: 100%;
  top: 0;
  display: inline-block;
}
.pharma1,
.pharma11,
.pharma3,
.pharma5,
.pharma7,
.pharma9 {
  position: absolute;
  top: 64px;
  left: 481px;
  width: 92px;
  height: 36px;
  opacity: 0.5;
  color: var(--color-white);
}
.pharma11,
.pharma3,
.pharma5,
.pharma7,
.pharma9 {
  left: 623px;
}
.pharma11,
.pharma5,
.pharma7,
.pharma9 {
  left: 765px;
  width: 93px;
}
.pharma11,
.pharma7,
.pharma9 {
  left: 908px;
}
.pharma11,
.pharma9 {
  left: 1051px;
  width: 92px;
}
.pharma11 {
  left: 1193px;
}
.pharma-hover-section-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-darkslateblue);
}
.invoice-creation {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.e-prescription {
  margin: 0;
}
.invoice-creation-sale-container {
  position: absolute;
  height: 48.65%;
  width: 43.46%;
  top: 14.53%;
  left: 52.99%;
  display: inline-block;
}
.pharma-hover-section-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 13.85%;
  width: 42.79%;
  top: 82.43%;
  right: 30.16%;
  bottom: 3.72%;
  left: 27.05%;
  border-radius: var(--br-xs);
  background: linear-gradient(
    89.94deg,
    #be84e1,
    #58eddb 25.85%,
    #98e7cf 55.71%,
    #d4b8d9 77.17%,
    #be84e1
  );
  box-shadow: 0 2px 3px 10px rgba(153, 66, 221, 0.25);
}
.read-more {
  position: absolute;
  height: 12.16%;
  width: 43.46%;
  top: 84.12%;
  left: 31.26%;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-indigo);
}
.discount-checklist-2-icon {
  position: absolute;
  height: 67.57%;
  width: 44.35%;
  top: 10.47%;
  right: 55.21%;
  bottom: 21.96%;
  left: 0.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pharma-hover-section {
  position: absolute;
  top: 1028px;
  left: 172px;
  width: 451px;
  height: 295.33px;
}
.discount-checklist-2-icon1 {
  position: absolute;
  height: 67.57%;
  width: 44.35%;
  top: 10.47%;
  right: 55.21%;
  bottom: 21.96%;
  left: 0.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.pharma-hover-section1 {
  position: absolute;
  top: 1017px;
  left: 841px;
  width: 451px;
  height: 295.33px;
}
.businessman-giving-presentatio-icon {
  position: absolute;
  top: 1051px;
  left: 860px;
  width: 200px;
  height: 178.16px;
  object-fit: cover;
}
.pharma-hover-section2,
.pharma-hover-section3 {
  position: absolute;
  top: 1500px;
  left: 169px;
  width: 451px;
  height: 295.33px;
}
.pharma-hover-section3 {
  left: 841px;
}
.pharma-hover-section4,
.pharma-hover-section5 {
  position: absolute;
  top: 1982px;
  left: 169px;
  width: 451px;
  height: 295.33px;
}
.pharma-hover-section5 {
  left: 841px;
}
.patient-mri-test-1-icon {
  position: absolute;
  top: 1533px;
  left: 846px;
  width: 220px;
  height: 165px;
  object-fit: cover;
}
.task-appointment-management-1-icon {
  position: absolute;
  top: 1509px;
  left: 166px;
  width: 250px;
  height: 197.45px;
  object-fit: cover;
}
.developer-1-icon,
.navigation-1-icon {
  position: absolute;
  top: 2026px;
  left: 860px;
  width: 200px;
  height: 142.68px;
  object-fit: cover;
}
.developer-1-icon {
  top: 2015px;
  left: 187px;
  height: 164.51px;
}
.homepage {
  position: relative;
  background: linear-gradient(176.7deg, #11132b, rgba(24, 29, 74, 0.93));
  width: 100%;
  height: 3540px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-paleturquoise-100);
  font-family: var(--font-gill-sans-mt);
}
