body {
  margin: 0;
  line-height: normal;
}
.pharma-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 56px;
  left: 1333px;
  border-radius: var(--br-xs);
  background: linear-gradient(
    90.76deg,
    rgba(33, 40, 211, 0.47),
    rgba(71, 128, 214, 0.51) 30.73%,
    rgba(36, 151, 187, 0.53) 53.13%,
    rgba(86, 229, 221, 0) 97.4%,
    rgba(80, 77, 228, 0.49) 97.41%
  );
  width: 100px;
  height: 36px;
}
.ef47b85b4374430b1bdd316e6ffa74-icon1 {
  position: absolute;
  top: 0;
  left: 63px;
  border-radius: var(--br-xl);
  width: 252px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.instagram1,
.profile1 {
  position: absolute;
  display: inline-block;
}
.profile1 {
  top: 62px;
  left: 1352px;
  font-family: var(--font-inter);
  width: 88px;
  height: 34px;
}
.instagram1 {
  width: 250px;
  height: 40px;
}
.legal-notice1 {
  left: 1021px;
}
.legal-notice1,
.linkedin1,
.privacy-policy1 {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.privacy-policy1 {
  left: 1021px;
}
.terms-of-condition1 {
  top: 97px;
  left: 1021px;
}
.terms-of-condition1,
.twitter1 {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.privacy-policy1 {
  top: 154px;
}
.legal-notice1 {
  top: 211px;
}
.instagram1 {
  top: 97px;
  left: 761px;
}
.linkedin1,
.twitter1 {
  left: 761px;
}
.linkedin1 {
  top: 154px;
}
.twitter1 {
  top: 211px;
}
.augmented-reality1 {
  position: absolute;
  left: 9px;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.chatbot1 {
  top: 97px;
  left: 9px;
}
.chatbot1,
.contact-us2,
.customer-support1,
.d-models1 {
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.d-models1 {
  left: 9px;
}
.augmented-reality1 {
  top: 154px;
}
.d-models1 {
  top: 211px;
}
.contact-us2 {
  left: 385px;
}
.customer-support1 {
  top: 97px;
  left: 385px;
}
.contact-us2 {
  top: 154px;
}
.customer-care1,
.developer1,
.legal1,
.social1 {
  position: absolute;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-gray);
}
.legal1,
.social1 {
  top: 0;
  left: 1027px;
  width: 134px;
  height: 48px;
}
.social1 {
  top: 7px;
  left: 748px;
}
.customer-care1,
.developer1 {
  top: 11px;
  left: 336px;
  width: 361px;
  height: 60px;
}
.developer1 {
  top: 13px;
  left: 0;
}
.terms-of-condition-group {
  position: absolute;
  top: 4046px;
  left: 110px;
  width: 1271px;
  height: 251px;
  font-family: var(--font-lao-muang-don);
}
.name-1,
.name-container {
  position: absolute;
  width: 119px;
  height: 25px;
}
.name-1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.name-container {
  top: 237px;
  left: 645px;
}
.contact-us-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1394px;
  height: 844px;
  object-fit: cover;
}
.email-1 {
  position: absolute;
  top: 350px;
  left: 645px;
  display: inline-block;
  width: 119px;
  height: 25px;
}
.thoughts-1 {
  top: 466px;
  left: 637px;
  width: 145px;
  height: 25px;
}
.contact-us3,
.submit1,
.thoughts-1 {
  position: absolute;
  display: inline-block;
}
.submit1 {
  top: 757px;
  left: 1096px;
  color: var(--color-black);
  width: 184px;
  height: 29px;
}
.contact-us3 {
  top: 77px;
  left: 635px;
  font-size: var(--font-size-2xl);
  width: 315px;
  height: 68px;
}
.contact-us-1-group,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1394px;
  height: 844px;
}
.group-container {
  top: 3143px;
  left: 23px;
  font-size: var(--font-size-lg);
}
.pharma15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.pharma14 {
  position: absolute;
  top: 64px;
  left: 481px;
  height: 36px;
  opacity: 0.5;
}
.pharma14,
.pharma16 {
  width: 92px;
}
.pharma16,
.pharma18,
.pharma20,
.pharma22,
.pharma24 {
  position: absolute;
  top: 64px;
  height: 36px;
  opacity: 0.5;
}
.pharma16 {
  left: 623px;
}
.pharma18,
.pharma20 {
  left: 765px;
  width: 93px;
}
.pharma20 {
  left: 908px;
}
.pharma22,
.pharma24 {
  left: 1051px;
  width: 92px;
}
.pharma24 {
  left: 1193px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    178.64deg,
    #0d102e,
    #0e133f 33.33%,
    #1f244b 90.82%,
    #23274b
  );
  box-shadow: 4px 4px 10px #3541aa;
  width: 1212px;
  height: 397px;
}
.get-invoice-ready {
  position: absolute;
  top: 61.43px;
  left: 419px;
  display: inline-block;
  width: 322.64px;
  height: 274.08px;
  transform: rotate(-0.08deg);
  transform-origin: 0 0;
}
.free-invoices {
  margin-block-start: 0;
  margin-block-end: 0;
}
.future-predicitons {
  margin: 0;
}
.free-invoices-qrcode-container {
  position: absolute;
  top: 50px;
  left: 885px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.discount-checklist-1-icon {
  position: absolute;
  top: 35px;
  left: 53px;
  width: 298px;
  height: 309px;
  object-fit: cover;
}
.create-for-free,
.group-item {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-item {
  border: 1px solid var(--color-skyblue-200);
  top: 262px;
  left: calc(50% + 233px);
  border-radius: var(--br-lg);
  background: linear-gradient(
    90.38deg,
    #40baff,
    #82eded 24.83%,
    #46ebcd 68.26%,
    #40baff
  );
  box-sizing: border-box;
  width: 274px;
  height: 55px;
  mix-blend-mode: lighten;
}
.create-for-free {
  border: 0;
  top: 274px;
  left: 882px;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  width: 187px;
  height: 30px;
}
.rectangle-parent {
  position: absolute;
  top: 227px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.medicines-suppliers-surgical-container {
  position: absolute;
  top: 93px;
  left: 116px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.create-for-free1,
.group-child1 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-child1 {
  border: 1px solid var(--color-skyblue-200);
  top: 281px;
  left: calc(50% - 541px);
  border-radius: var(--br-lg);
  background: linear-gradient(
    90.38deg,
    #40baff,
    #82eded 24.83%,
    #46ebcd 68.26%,
    #40baff
  );
  box-sizing: border-box;
  width: 274px;
  height: 55px;
  mix-blend-mode: lighten;
}
.create-for-free1 {
  border: 0;
  top: 293px;
  left: 108px;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  width: 187px;
  height: 30px;
}
.rectangle-group {
  position: absolute;
  top: 711px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.free-to-post-container {
  position: absolute;
  top: 80px;
  left: 881px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.rectangle-container {
  position: absolute;
  top: 1195px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.get-medicine-information {
  position: absolute;
  top: 61.43px;
  left: 419px;
  display: inline-block;
  width: 398.64px;
  height: 276.1px;
  transform: rotate(-0.08deg);
  transform-origin: 0 0;
}
.medicine-dosage-side-container {
  position: absolute;
  top: 76px;
  left: 66px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.create-for-free3,
.group-child5 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-child5 {
  border: 1px solid var(--color-skyblue-200);
  top: 282px;
  left: calc(50% - 540px);
  border-radius: var(--br-lg);
  background: linear-gradient(
    90.38deg,
    #40baff,
    #82eded 24.83%,
    #46ebcd 68.26%,
    #40baff
  );
  box-sizing: border-box;
  width: 274px;
  height: 55px;
  mix-blend-mode: lighten;
}
.create-for-free3 {
  border: 0;
  top: 294px;
  left: 109px;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  width: 187px;
  height: 30px;
}
.group-div {
  position: absolute;
  top: 1679px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.no-paper-wok-container {
  position: absolute;
  top: 74px;
  left: 887px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.rectangle-parent1 {
  position: absolute;
  top: 2203px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.get-notification-for-container {
  position: absolute;
  top: 99px;
  left: 82px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: inline-block;
  width: 239px;
  height: 200px;
}
.create-for-free5,
.group-child9 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-child9 {
  border: 1px solid var(--color-skyblue-200);
  top: 281px;
  left: calc(50% - 567px);
  border-radius: var(--br-lg);
  background: linear-gradient(
    90.38deg,
    #40baff,
    #82eded 24.83%,
    #46ebcd 68.26%,
    #40baff
  );
  box-sizing: border-box;
  width: 274px;
  height: 55px;
  mix-blend-mode: lighten;
}
.create-for-free5 {
  border: 0;
  top: 293px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-gill-sans-mt);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  width: 187px;
  height: 30px;
}
.rectangle-parent2 {
  position: absolute;
  top: 2687px;
  left: 140px;
  width: 1212px;
  height: 397px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-skyblue-100);
  font-family: var(--font-microsoft-himalaya);
}
.briefcase-1-icon,
.shopping-store-1-icon {
  position: absolute;
  object-fit: cover;
}
.shopping-store-1-icon {
  top: 711px;
  left: 996px;
  width: 332px;
  height: 336px;
}
.briefcase-1-icon {
  top: 1238px;
  left: 193px;
  width: 324px;
  height: 311px;
}
.lady-doctor-1-icon,
.new-notification-1-icon {
  position: absolute;
  object-fit: cover;
}
.new-notification-1-icon {
  top: 2685px;
  left: 979px;
  width: 367px;
  height: 380px;
}
.lady-doctor-1-icon {
  top: 1679px;
  left: 941px;
  width: 400px;
  height: 400px;
}
.pharma13 {
  position: relative;
  background: linear-gradient(176.7deg, #11132b, rgba(24, 29, 74, 0.93));
  width: 100%;
  height: 4338px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-gill-sans-mt);
}
